{% extends 'base.html'%} 

{% block head%} 
Mission
{%endblock%}

{% block body%} 

<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <p class="mb-2 text-xs font-semibold tracking-wide text-gray-600 uppercase sm:text-center">
      02 JULY 2021
    </p>
    <div class="max-w-xl mb-5 md:mx-auto sm:text-center lg:max-w-2xl">
      <div class="mb-4">
        <a href="" aria-label="Article" class="inline-block max-w-lg font-sans text-3xl font-extrabold leading-none tracking-tight text-black transition-colors duration-200 hover:text-custom-300 sm:text-4xl">
          The Mission behind 'Give in Public'
        </a>
      </div>
      </div>

      <div class="max-w-xl mb-5 md:mx-auto sm:text-left lg:max-w-2xl">
      <p class="text-base text-gray-700 md:text-lg">
        With Give In Public, we aim to rethink how we talk about altruism. The ultimate goal is to make giving easy and satisfying. To achieve this, we follow a three-step plan. 

      </p> <br>
      <p class="text-base text-gray-700 md:text-lg">
        First, Give In Public aims to visualize the impact of your donations in one place. 
        Think about Strava but than for your donations. The goal is to keep people who are already giving motivated and make 
        them feel proud of the impact they have. Additionally, by making that impact public, it can multiply the impact you have
         by inspiring others to also do good (Some research about this effect 
         <a href = "https://forum.effectivealtruism.org/posts/5d3td2YpuCiE8L7yr/to-inspire-people-to-give-be-public-about-your-giving" target="_blank" 
        rel="noopener noreferrer" class="text-blue-700 underline"> here</a>). In a nutshell, by being public about your donations, you can multiply your impact for free.
         Right now, we are focusing exclusively on building these features.         


      </p>
      <br> 
      <p class="text-base text-gray-700 md:text-lg">
        Second, after the beta, we will focus on making the giving process as easy as possible. 
        To do that, we will let users pick cause areas they care about most. Based on these cause areas,
         we will select the most effective charities with the help of meta organisations such as <a href = "https://www.givewell.org/" target="_blank" rel="noopener noreferrer" 
         class="text-blue-700 underline">GiveWell</a> or
         <a href = "https://founderspledge.com/" target="_blank" rel="noopener noreferrer" 
        class="text-blue-700 underline">Founders Pledge.</a> The main reason behind this is to make giving easier for people that are not already donating.


      </p>
      <br>
      <p class="text-base text-gray-700 md:text-lg">
        Finally, we will work together with businesses to help them set up effective corporate social responsibility campaigns. 

      </p>
      <br>
      <p class="text-base text-gray-700 md:text-lg">Subscribe below to stay informed or reach out to me directly via Twitter or Email. </p>
      <div class="flex items-center sm:justify-center m-12">
        <button
          type="submit"
          class="text-xl font-bold inline-flex items-center justify-center h-12 px-6 mr-6 font-medium tracking-wide text-white transition 
          duration-200 rounded shadow-md bg-custom-100 hover:bg-custom-300 focus:shadow-outline focus:outline-none"
        ><a href="/subscribe" rel="noopener noreferrer"> 
          Subscribe
        </a>
        </button>
      </div>
    </div>
</div>
    <div class="mb-10 sm:text-center">
      <a href="https://twitter.com/Laurin_Wirth" target="_blank" rel="noopener noreferrer" aria-label="Author" class="inline-block mb-1"> 
        <img alt="avatar" src="../static/public/images/LW5.png" class="object-cover w-10 h-10 rounded-full shadow-sm" />
      </a>
      <div>
        <a href="https://twitter.com/Laurin_Wirth" target="_blank" rel="noopener noreferrer" aria-label="Author" class="font-semibold text-gray-800 transition-colors duration-200 hover:text-custom-100">Laurin Wirth</a>
        <p class="text-sm font-medium leading-4 text-gray-600">Author</p>
      </div>
    </div>
    
  </div>




  
  <!--Footer-->
  <div class="bg-white py-4" style="margin-top: -25px;"> 
  <div class="flex items-center sm:justify-center  items-center space-x-4 bg-white">
        <a href="https://twitter.com/Laurin_Wirth" target="_blank" rel="noopener noreferrer" class="text-gray-600 transition-colors duration-300 hover:text-custom-300">
          <svg viewBox="0 0 24 24" fill="currentColor" class="h-5">
            <path
              d="M24,4.6c-0.9,0.4-1.8,0.7-2.8,0.8c1-0.6,1.8-1.6,2.2-2.7c-1,0.6-2,1-3.1,1.2c-0.9-1-2.2-1.6-3.6-1.6 c-2.7,
              0-4.9,2.2-4.9,4.9c0,0.4,0,0.8,0.1,1.1C7.7,8.1,4.1,6.1,1.7,3.1C1.2,3.9,1,4.7,1,5.6c0,1.7,0.9,3.2,2.2,
              4.1 C2.4,9.7,1.6,9.5,1,9.1c0,0,0,0,0,0.1c0,2.4,1.7,4.4,3.9,4.8c-0.4,0.1-0.8,0.2-1.3,0.2c-0.3,0-0.6,0-0.9-0.1c0.6,
              2,2.4,3.4,4.6,3.4 c-1.7,1.3-3.8,2.1-6.1,2.1c-0.4,0-0.8,0-1.2-0.1c2.2,1.4,4.8,2.2,7.5,2.2c9.1,0,14-7.5,14-14c0-0.2,0-0.4,0-0.6 C22.5,6.4,23.3,5.5,24,4.6z"
            ></path>
          </svg>
        </a>

        <a href="mailto: laurin.wirth@posteo.net" class="text-gray-600 transition-colors duration-300 hover:text-custom-300">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
        </a>
      </div>
</div>
</div>
{%endblock%}